<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>servlet.LoginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProcess</servlet-name>
        <servlet-class>servlet.RegisterProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketPurchase</servlet-name>
        <servlet-class>servlet.TicketPurchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/LoginProcess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutProcess</servlet-name>
        <servlet-class>servlet.LogoutProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutProcess</servlet-name>
        <url-pattern>/LogoutProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProcess</servlet-name>
        <url-pattern>/RegisterProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketPurchase</servlet-name>
        <url-pattern>/TicketPurchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
